<%- include("./includes/head") %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-5">
      <div class="row">
        <div class="display-1 text-center"> 404 </div>
        <div class="display-6 text-center">Oops, looks like you are lost</div>
        <button class="btn btn-warning my-5 btn-sm">Go Home</button>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%-include("./includes/footer") %>
