<%- include("./includes/head") %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-5">
      <h1 class="text-center font-weight-bold"> Phones List </h1>
      <p class="text-center lead"> Your contacts are ahead: </p>
      <div class="row">
        <div class="alert alert-danger">sei la feijoada</div>
      </div>
      <div class="responsive-table">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </thead>
          <tr>
            <td>Gabriel Antônio Becher</td>
            <td>gabriel.abecher@hotmail.com</td>
            <td>(42) 99846-2535</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%-include("./includes/footer") %>
