<%- include("./includes/head") %>
<h1 class="mt-5">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum,
  perferendis, placeat harum delectus incidunt tempora labore vero consectetur
  quasi esse debitis rem natus quos, aspernatur maiores molestiae provident hic
  soluta.
</h1>

<%- include("./includes/footer") %>
